*.pdf
*.png
*.jpg
*.jpeg
*.zip
*.gz
*.pyc
*.pkl
*.npz
*.hdf5
language-translation/data
09-transfer-learning/codes
13-embeddings/data/
19-face_generation/checkpoints/
20-semi-supervised/data/
20-semi-supervised/checkpoints/
20-semi-supervised/.ipynb_checkpoints/
05-intro-to-tensorflow/notMNIST.pickle
13-embeddings/checkpoints/
15-tv-script-generation/save.data-00000-of-00001
18-dcgan-svhn/samples.pkl
10-dog-project/__MACOSX
.ipynb_checkpoints
